.outer {
    width: 100%;
    height: 100vh;
  }
  .firstrow {
    border-bottom: 1px solid black;
    text-align: right;
    height: 5vh;
  }
  .firstrow label {
    color: gray;
    font-size: small;
  }
  .secondrow {
    width: 100%;
    height: 100vh;
  }
  .usericon {
    height: 3vh;
    width: 20px;
    border-radius: 25px;
    background-color: blue;
    float: right;
  }
  .firstcolumn {
    width: 20%;
    height: 100vh;
    border-right: 1px solid black;
    float:left;
  }
  .firstcolumn li {
    list-style: none;
    text-align: center;
    padding: 8%;
    background-color: lightgray;
    
  }
  .firstcolumn li:hover
  {
      color: white;
  }
  .secondcolumn
  {
      width:79%;
      height: 100vh;
      float:right;
  
  }
  .usernamerow
{
    width:100%;
    height: 10vh;
   
}
.users
{
    height: 3vh;
    width: 20px;
    border-radius: 25px;
    background-color:red;
    margin: 30%;
    padding: 10px;
    margin-top: 10px;
    
}
.statusnamerow
{
    width:100%;
    height:5vh;
    background-color: aqua;
}
.seccolumfirstrow {
width: 100%;
height: 15vh;
float: left;
background-color:lightgray;
}
.buttonright label{
    color: slategrey;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  padding-left: 5%;
  float: left;
    
}

.buttonright button{
    float:right;
    background-color: gray;
    color: white;
    border: none;
    height: 5vh;
    width: 10%;
}


.seccolumsecondrow{
padding-top: 10px;
width: 100%;
height: 100vh;

margin-top: 5px;
}

.seccolumsecondrow th{
    width: 29%;
    border-top: 10px;
    border-bottom: 10px;
    text-align: center;
    padding: 5px;
    background-color:peru;
   
}

.seccolumsecondrow td{
    width: 29%;
    border:none;
    text-align: center;
    padding: 10px;
}
.trow :hover{
    background-color: lightgrey;
}

.titleinput{
width: 100%;
height: 5vh;
}
.descriptioninput{
width:100%;
height: 20vh;
}
.statusinput select{
width: 100%;
height: 5vh;
}
.assignedtoinput select{
    width: 100%;
    height: 5vh;
}