.outer {
    width: 100%;
    height: 100vh;
  }
  .firstrow {
    border-bottom: 1px solid black;
    text-align: right;
    height: 5vh;
  }
  .firstrow label {
    color: gray;
    font-size: small;
  }
  .secondrow {
    width: 100%;
    height: 100vh;
  }
  .usericon {
    height: 3vh;
    width: 20px;
    border-radius: 25px;
    background-color: blue;
    float: right;
  }
  
  .firstcolumn {
    width: 20%;
    height: 100vh;
    border-right: 1px solid black;
    float:left;
  }
  .firstcolumn li {
    list-style: none;
    text-align: center;
    padding: 8%;
    background-color: lightgray;
    
  }
  .firstcolumn li:hover
  {
      color: white;
  }
  .secondcolumn
  {
      width:79%;
      height: 100vh;
      float:right;
  
  }
  .usernamerow
  {
      width:100%;
      height: 15vh;
      
     
  }
  .users label
  {
      text-align: center;
      color: blue;
  }
  .users
  {
      height: 3vh;
      width: 20px;
      border-radius: 25px;
      background-color:red;
      margin: 30%;
      padding: 10px;
      margin-top: 10px;
      
  }
  .eachuser
  {
      padding:2%;
      float:left;
     
      width:10%;
      height:6vh;
      text-align: center;
  }
  .statusnamerow
  {
      width:100%;
      height:12vh;
      margin-top: 4%;
    
      
  }
  .taskbar1
  {
      width:20%;
      height:60vh;
      border: 1px solid black;
      float: left;
    
  }
  .taskbar2
  {
      width:20%;
      height:60vh;
      border: 1px solid black;
      float: left;
      margin-left: 3%;
  }
  .taskbar3
  {
      width:20%;
      height:60vh;
      border: 1px solid black;
      float: left;
      margin-left: 3%;
  }
  .taskbar4
  {
      width:20%;
      height:60vh;
      border: 1px solid black;
      float: left;
      margin-left: 3%;
  }
  /* .tasks
  {
      width:100%;
      height: 50vh;
     
  } */
  .statusnamerow label{
      margin-left: 14%;
  }
  .userlabel
  {
      padding:30px;
  }
  
  /* Project  Styling */
  
  .header
  {
      width:100%;
      height: 15vh;
      border-bottom:1px solid black ;
  }
  