.Container{
    height:100vh ;
    width: 100%;
    background-color: lightgray;
    float: left;
    padding:0%;
    }
    .Outerdiv{
        margin-top: 50px;
        margin-left: 10px;
    height:60vh;
    width: 20%;
    background-color:lightgray;
    float:left;
    padding-top: 10px;
    border: end start radius 25px; 
    border-style:solid;
    
    }
    .Username{
        margin-left: 10px;
    width: 100%;
    height: 10vh;
    padding-bottom: 1px;
    }
    .Password{
        margin-left: 10px;
        width: 100%;
        height: 10vh;
        padding-bottom: 1px;
    }
    
    .Newuser{
        width: 20%;
        color: blue;
    height: 10vh;
    float: left;
    margin-left: 10px;
    background-color: lightgrey;
    }
    .Newuser:hover{
        color: blue;
    }
    .Login{
        width: 100%;
    height: 10vh;
    float: left;
    margin-left: 10px;
    }
    
  .outer {
      width: 100%;
      height: 100vh;
    }
    .firstrow {
      border-bottom: 1px solid black;
      text-align: right;
      height: 5vh;
    }
    .firstrow label {
      color: gray;
      font-size: small;
    }
    .secondrow {
      width: 100%;
      height: 100vh;
    }
    .usericon {
      height: 3vh;
      width: 20px;
      border-radius: 25px;
      background-color: blue;
      float: right;
    }
    .firstcolumn {
      width: 20%;
      height: 100vh;
      border-right: 1px solid black;
      float:left;
    }
    .firstcolumn li {
      list-style: none;
      text-align: center;
      padding: 8%;
      background-color: lightgray;
      
    }
    .firstcolumn li:hover
    {
        color: white;
    }
    .secondcolumn
    {
        width:79%;
        height: 100vh;
        float:right;
    
    }
    .usernamerow
  {
      width:100%;
      height: 10vh;
     
  }
  .users
  {
      height: 3vh;
      width: 20px;
      border-radius: 25px;
      background-color:red;
      margin: 30%;
      padding: 10px;
      margin-top: 10px;
      
  }
  .statusnamerow
  {
      width:100%;
      height:5vh;
      background-color: aqua;
  }
  .seccolumfirstrow {
  width: 100%;
  height: 15vh;
  float: left;
  background-color:lightgray;
  }
  .buttonright label{
      color: slategrey;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    padding-left: 5%;
    float: left;
      
  }
  
  .buttonright button{
      float:right;
      background-color: gray;
      color: white;
      border: none;
      height: 5vh;
      width: 10%;
  }
  
  
  .seccolumsecondrow{
  padding-top: 10px;
  width: 100%;
  height: 100vh;  
  margin-top: 5px;
  }
  
  .seccolumsecondrow th{
      width: 29%;
      border-top: 10px;
      border-bottom: 10px;
      text-align: center;
      padding: 5px;
     
  }
  
  .seccolumsecondrow td{
      width: 29%;
      border:none;
      text-align: center;
      padding: 10px;
  }
  .trow :hover{
      background-color: lightgrey;
  }
  
  .titleinput{
      margin-left: 10px;
      margin-right: 5%;
  width:96%;
  height: 5vh;
  }
  .descriptioninput{
  width:96%;
  margin-left: 10px;
      margin-right: 5%;
  height: 20vh;
  }
  .statusinput select{
    margin-left: 10px;
      margin-right: 5%;
  width: 96%;
  height: 5vh;
  }
  .assignedtoinput select{
    margin-left: 10px;
      margin-right: 5%;
      width: 96%;
      height: 5vh;
  }
  .btn1{
    width: 20%;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #0f4e39;
    color: #fff;
    padding: 15px 12px;
    float: right;
  }