body{
    background-color:  lightgrey;
}
.tableborder tbody td{
  width: 50% ;
  

}
.wrapper{
  margin: 12%;
  height: 350px;
  width: 800px;
  background-color: #dcf0e8;
  padding-top: 100px ;
  padding-left: 60px ;
  padding-right: 60px ;
    
}
.rightNav{
  float: right;
}
td {
  text-align: right;
  height: 50px;
}
.btnSubmitRightNav{
  background-color: darkgreen;
  border: 0ch;

}
.text-input{
  width: 350px;
  float:left ;
}
.btnProduct{
  float: right;
  
}
.tblproduct{
  width: 100%;
  
}
.tableborder{
  padding-left: 50px;
  border: 1px solid rgb(201, 12, 12);
  border-collapse: collapse;
  border-style: dotted;
}
.tblData{
  width: 100%;
}
.tblWidth{
  width: 20%;}
  h1{
    color: blue;
    font-size: 20px;
  }
  .btn1{
    border: none;
    background-color: rgb(15, 54, 11);
    padding: 10px;
    font-weight: bold;

  }
  