body{
  background: #147e5a;
}
.form{
  width: 450px;
  border-radius: 10px ;
  margin-top: 100px ;
  margin-left: 100px;
  height: 400px;
  background-color: rgb(40, 156, 93);
  padding-top: 50px ;
  padding-left: 60px ;
  padding-right: 60px ;
  font-family: Arial, Helvetica, sans-serif;
  
  
  ;}

.LoginPage {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(69, 211, 69);
}


.btn1{
  width: 40%;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #0f4e39;
  color: rgb(11, 151, 11);
  padding: 15px 20px;
}

input[type="Next"]:hover {
  background: #0bd18c;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgb(250, 208, 208);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  border: #01d28e;
  padding-top: 60px ;
  padding-left: 60px ;
  padding-right: 60px ;

}
.text-input{
padding: 10px;

}
.sts{
  padding-left: 70px ;
  font-size: 12px;
}
